h1{
    text-align: center;
    padding: 60px 0px;
    font-size: 3em;
}
#navfilter{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navfiltername{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #0FFAA0;
    margin-left: 20px;
}

#navfiltername::after{
    content: '↴';
    font-size: 2em;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
    padding-bottom: 4px;
    border: none;
    background-color : none;
}


select::-ms-expand {
    display: none;
}


#navfiltertxt{
    width: 70%;
    display: inline-flex;
}

#search{
    width: 100%;
    padding: 5px;
    height: 40px;
    border: none;
    font-size: 16px;    
    background-color: #282828;
    border-radius: 3px 0px 0px 3px;
    color: #fff;
}

#navfiltertxt button{
    padding: 0px 40px;
    background-color: #00E376;
    border-radius: 0px 3px 3px 0px;
    color: #222;
    cursor: pointer;
    border: none;
}

#navfiltertxt button:hover{
    opacity: 0.9;
}

#gridalbum{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 1em;
        padding: 60px 0;
}

.albumitem{
    justify-self: center;
    max-width: 400px;
    cursor: pointer;
    text-align: center;
    font-family: 'Roboto', Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

@media (max-width: 810px){


    #navfilter{
        width: 100%;
        flex-direction: column;
    }

    #navfiltername{
       margin-top: 10px;
    }
}

@media (max-width: 720px){

    #navfiltertxt{
        width: 90%;
    }
}

@media (max-width: 520px){

    #navfiltertxt button{
        padding: 0 10px;
    }
}