@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');

#secoverlayimg,
#secoverlayimg div,
#secoverlayimg img {
    width: 100%;
    height: 500px;
}

#secoverlayimg {
    position: relative;
}

#secoverlayimg img {
    filter: brightness(0.5);
    object-fit: cover;
}

#centeredtxt {
    position: absolute;
    text-align: center;
    margin: auto;
    top: 100px;
    padding: 20px;
}

section h1 {
    display: inline-block;
    color: #fff;
    font-size: 3em;
    padding: 10px;
    border: 1px solid rgb(216, 213, 213);
}

section h1 span {
    font-family: 'Shojumaru', cursive;
}

#secjudo {
    width: 80%;
    margin: 60px auto;
}

#secjudo dl {
    text-align: left;
    max-width: 700px;
    margin-right: 50px;
}

#secjudo dfn,
h2 {
    font-size: 3em;
    font-style: normal;
    display: inline-block;
    font-weight: bold;
    font-family: 'Shojumaru', cursive;
}

#secjudo dl dd,
#secequipe p {
    line-height: 1.65em;
    margin-top: 20px;
}

.seccallfotos {
    text-align: center;
    min-width: 250px;
    max-width: 350px;
    float: right;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
}


.seccallfotos button {
    width: 100%;
    padding: 20px 0;
    margin-top: 10px;
    background-color: #00E376;
    border-radius: 4px;
    color: #222;
    font-size: 18px;
    cursor: pointer;
    border: none;
}

.seccallfotos button:hover {
    background-color: #00ff84;
}

#secequipe {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 60px auto;
}

#secequipetxt h2 {
    padding-bottom: 20px;
}

#secequipetxt p {
    width: 85%;
    margin: 0 auto;
}

#logojudocontainer {
    min-width: 150px;
    margin-right: 50px;
}

#logojudocontainer img {
    width: 100%;
    filter: brightness(1);
}

#secequipe {
    text-align: center;
}



@media (max-width:1100px) {
    #secjudo {
        width: 90%;
    }

    #secequipe {
        flex-direction: column;
    }

    #secequipetxt p {
        width: 100%;
    }

    #logojudocontainer {
        margin-right: 0px;
        margin-bottom: 30px;
    }
}

@media (max-width:865px) {
    #secjudo {
        display: flex;
        width: 90%;
        flex-direction: column-reverse;
        align-items: center;
    }

    #secjudo dl {
        margin-right: 0px;
        padding-bottom: 40px;
        text-align: center;
    }

    .seccallfotos {
        float: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}