h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: rgb(29, 28, 28)
}

#sobre {
    text-align: center;
    margin: 40px 0px;
}

#sobrelabel {
    padding: 0px 40px 40px 40px;
}

#sobrelabel p {
    font-size: 1.2em;
}

#imgsobrecontainer {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

#imgsobrecontainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sobretxt {
    width: 85%;
    text-align: center;
    margin: 0 auto;
}

#sobretxt p {
    font-size: 1.1rem;
    line-height: 1.5em;
}

#sobreprofimg {
    max-width: 350px;
    min-width: 300px;
    margin-right: 40px;
}

#sobreprof {
    display: flex;
    padding: 60px;
}

#sobreproftxt {
    text-align: center;
}

#sobreproftxt h2 {
    font-size: 2.5em;
}

#sobreproftxt ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.2em;
    padding: 20px 0;
}

#sobreproftxt li {
    width: 100%;
    display: block;
    padding: 10px 20px;
}

#sobreproftxt p {
    max-width: 75%;
    line-height: 1.6em;
    margin: 0 auto;
}

#social {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
}


.instalogowrapper {
    width: 120px;
}

#social figcaption {
    font-size: 2em;
}

@media (max-width:865px) {
    #sobreprof {
        flex-direction: column;
        align-items: center;
        padding: 60px 40px;
    }

    #sobretxt {
        width: 90%;
    }


    #sobreproftxt p {
        max-width: 90%;
    }


    #sobreprofimg {
        margin-right: 0;
        margin-bottom: 30px;
    }

}

@media (max-width:740px) {
    #sobreprof {
        flex-direction: column;
        align-items: center;
        padding: 60px 0px;
    }

    #sobreproftxt ul {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    #sobreproftxt ul li {
        max-width: 180px
    }
}


@media (max-width:430px) {
    h1 {
        font-size: 2.5em;
    }

    #sobreprof h2 {
        font-size: 2em;
        margin: 0px 20px 0px 20px
    }

}